HUBSPOT_TOKEN=your_hubspot_token_here
INSTACARE_USERNAME=your_instacare_username
INSTACARE_PASSWORD=your_instacare_password
PATIENT_SHEET_URL=your_patient_sheet_url_here
BENEFACTOR_SHEET_URL=your_benefactor_sheet_url_here

# Google Auth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
NEXTAUTH_SECRET=your_nextauth_secret_random_string
NEXTAUTH_URL=http://localhost:3000
